@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="portlet-body">
    <p>
        <a href="javascript:;" class="btn btn-outline sbold green" id="blockui_sample_2_1"> Block Page With Default Message </a>
    </p>
    <p>
        <a href="javascript:;" class="btn btn-outline sbold yellow" id="blockui_sample_2_2"> Block Page With Boxed Message </a>
    </p>
    <p>
        <a href="javascript:;" class="btn btn-outline sbold red" id="blockui_sample_2_3"> Block Page Without Background Overlay </a>
    </p>
    <p>
        <a href="javascript:;" class="btn btn-outline sbold purple" id="blockui_sample_2_4"> Block Page with CSS3 Animation </a>
    </p>
    <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique. </p>
</div>