
<form class="forget-form" action="index.html" method="post">
    <h3 class="font-green">Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
        <div class="col-lg-3 form-group">
            <label class="control-label">Email</label>
        </div>
        <div class="col-lg-9 form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>     
    </div>
    <div class="form-actions">
        <div class="col-lg-12">
            <button type="button" id="back-btn" class="btn btn-outline grey-mint">Back</button>
            <button type="submit" class="btn btn-primary uppercase pull-right">Submit</button>
        </div>
     
        </div>
</form>


