@model PerfectWeddings.ViewModels.RegisterViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="tp-page-head">
    <!-- page header -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="page-header text-center">
                    <div class="icon-circle">
                        <i class="icon icon-size-60 icon-lock icon-white"></i>
                    </div>
                    <h1>Create a FREE account &amp; save you date.</h1>
                    <p>Start Planning It's Free t amet justo venenatis vesti cus arcuoin auctor sodales interdum.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page header -->
<div class="tp-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Sign Up Couple</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">

        <div class="row">
            <div class="col-md-6 singup-couple">
                <div class="well-box">
                    <h2>Let's turn your wedding into a reality!</h2>
                    <form id="frmRegister" onsubmit="return false;">

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="control-label" for="txtName">Your Name<span class="required">*</span></label>
                            <input id="txtName" name="txtName" type="text" placeholder="Your name" class="form-control input-md" required>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="control-label" for="txtEmail">E-mail<span class="required">*</span></label>
                            <input id="txtEmail" name="txtEmail" type="text" placeholder="E-Mail" class="form-control input-md" required>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="control-label" for="phone">Wedding Date<span class="required">*</span></label>
                            <input type="text" placeholder="Wedding Date" id="txtWeddingDate" class="form-control" required>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <button id="btnRegister" name="btnRegister" class="btn btn-primary">Create An Account</button>
                        </div>
                    </form>
                </div>
                <p>Already a Member? <a href="/Account/Login">Log In</a></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 feature-block">
                        <div class="well-box">
                            <div class="feature-icon"> <i class="icon-list-2 icon-size-60 icon-default"></i> </div>
                            <div class="feature-content">
                                <h3>Wedding Checklist</h3>
                                <p>Nullam porttitor lorem atdiam quis semper diam orci at neque.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 feature-block">
                        <div class="well-box">
                            <div class="feature-icon"><i class="icon-budget icon-size-60 icon-default"></i></div>
                            <div class="feature-content">
                                <h3>Wedding Budget</h3>
                                <p>Donec convallis libero et risus maximus cgestas sem venenatis vel.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 feature-block">
                        <div class="well-box">
                            <div class="feature-icon"><i class="icon-wedding-arch icon-size-60 icon-default"></i></div>
                            <div class="feature-content">
                                <h3>Perfect Weddingss</h3>
                                <p>Aliquam erat volutpat. Quisque ullamcorper quis ipsum eget consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 feature-block">
                        <div class="well-box">
                            <div class="feature-icon"><i class="icon-two-hearts icon-size-60 icon-default"></i></div>
                            <div class="feature-content">
                                <h3>Everything you need</h3>
                                <p>Fusce dapibus ex ac justo facili libero et risus maximus convallis.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
 $( function() {
     $("#txtWeddingDate").datepicker({});
    $( '#ui-datepicker-div' ).before('<div class="my_new_datepicker_div"></div>');
    $( '#ui-datepicker-div' ).appendTo( '.my_new_datepicker_div' ).contents();
  });
</script>

<script type="text/javascript">

    var pw = pw || {};

    $(document).ready(function () {

        // Register button selector
        $('#btnRegister').click(function () {
            pw.security.register($("#frmRegister"), $('#txtName').val(), $('#txtEmail').val(), $('#txtWeddingDate').val());
        })

    });

</script>
