
<div class="section-space80">
    <!-- Feature Blog Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>Plan your wedding one step at a time</h1>
                    <p>Simple wedding planning tools to help you stay on track. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feature center -->
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon"> <i class="icon icon-size-60 icon-calendar icon-default"></i></div>
                    <h2>Checklist</h2>
                    <p>Get your planning sorted with our free wedding planning checklist!</p>
                </div>
            </div>
            <!-- /.feature block -->

            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon"><i class="icon icon-size-60 icon-budget icon-default"></i></div>
                    <h2>Budget Planner</h2>
                    <p>Budget estimator tool that lets you specify your program plan.</p>
                </div>
            </div>
            <!-- /.feature block -->
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon"><i class="icon icon-size-60 icon-group icon-default"></i></div>
                    <h2>Guest list</h2>
                    <p>Build your free wedding guest list, collect mailing addresses and RSVPs.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-block feature-center mb30">
                    <!-- feature block -->
                    <div class="feature-icon"><i class="icon icon-size-60 icon-table icon-default"></i></div>
                    <h2>Table Planer</h2>
                    <p>Easy online tool for creating seating arrangements for weddings.</p>
                </div>
            </div>
            <!-- /.feature block -->
        </div>
        <!-- /.feature center -->
        <div class="row">
            <div class="col-md-12 text-center"> <a href="#" class="btn btn-primary">Get Started</a> </div>
        </div>
    </div>
</div>
<!-- Feature Blog End -->
<div class="section-space80 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>More than 2,000 Perfect Weddingss</h1>
                    <p> Donec sagittis blandit ex consequat pulvin ondimentum tortor eitae suscipit augupibus </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="Supplier-total-list mb30">
                    <!-- Supplier-total-list -->
                    <div class="Supplier-total-thumb">
                        <!-- Supplier-total-thumb -->
                        <a href="#"><img src="images/Supplier-total-thumb-1.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <!-- /.Supplier-total-thumb -->
                    <div class="well-box Supplier-total-info">
                        <!-- Supplier-total-info -->
                        <h2 class="Supplier-total-title"><a href="#" class="title">Wedding Venues </a><span class="badge badge-primary">12+</span> </h2>
                    </div>
                    <!-- /.Supplier-total-info -->
                </div>
                <!-- /.Supplier-total-list -->
            </div>
            <div class="col-md-4">
                <div class="Supplier-total-list mb30">
                    <!-- Supplier-total-list -->
                    <div class="Supplier-total-thumb">
                        <!-- Supplier-total-thumb -->
                        <a href="#"><img src="images/Supplier-total-thumb-2.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <!-- /.Supplier-total-thumb -->
                    <div class="well-box Supplier-total-info">
                        <!-- Supplier-total-info -->
                        <h2 class="Supplier-total-title"><a href="#" class="title">Wedding Cakes </a><span class="badge badge-primary">10+</span> </h2>
                    </div>
                    <!-- /.Supplier-total-info -->
                </div>
                <!-- /.Supplier-total-list -->
            </div>
            <div class="col-md-4">
                <div class="Supplier-total-list mb30">
                    <!-- Supplier-total-list -->
                    <div class="Supplier-total-thumb">
                        <!-- Supplier-total-thumb -->
                        <a href="#"><img src="images/Supplier-total-thumb-3.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <!-- /.Supplier-total-thumb -->
                    <div class="well-box Supplier-total-info">
                        <!-- Supplier-total-info -->
                        <h2 class="Supplier-total-title"><a href="#" class="title">Wedding Venues </a><span class="badge badge-primary">12+</span> </h2>
                    </div>
                    <!-- /.Supplier-total-info -->
                </div>
                <!-- /.Supplier-total-list -->
            </div>
            <div class="col-md-4">
                <div class="Supplier-total-list mb30">
                    <!-- Supplier-total-list -->
                    <div class="Supplier-total-thumb">
                        <!-- Supplier-total-thumb -->
                        <a href="#"><img src="images/Supplier-total-thumb-4.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <!-- /.Supplier-total-thumb -->
                    <div class="well-box Supplier-total-info">
                        <!-- Supplier-total-info -->
                        <h2 class="Supplier-total-title"><a href="#" class="title">Wedding Venues </a><span class="badge badge-primary">12+</span> </h2>
                    </div>
                    <!-- /.Supplier-total-info -->
                </div>
                <!-- /.Supplier-total-list -->
            </div>
            <div class="col-md-4">
                <div class="Supplier-total-list mb30">
                    <!-- Supplier-total-list -->
                    <div class="Supplier-total-thumb">
                        <!-- Supplier-total-thumb -->
                        <a href="#"><img src="images/Supplier-total-thumb-5.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <!-- /.Supplier-total-thumb -->
                    <div class="well-box Supplier-total-info">
                        <!-- Supplier-total-info -->
                        <h2 class="Supplier-total-title"><a href="#" class="title">Wedding Venues </a><span class="badge badge-primary">12+</span> </h2>
                    </div>
                    <!-- /.Supplier-total-info -->
                </div>
                <!-- /.Supplier-total-list -->
            </div>
            <div class="col-md-4">
                <div class="Supplier-total-list mb30">
                    <!-- Supplier-total-list -->
                    <div class="Supplier-total-thumb">
                        <!-- Supplier-total-thumb -->
                        <a href="#"><img src="images/Supplier-total-thumb-6.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <!-- /.Supplier-total-thumb -->
                    <div class="well-box Supplier-total-info">
                        <!-- Supplier-total-info -->
                        <h2 class="Supplier-total-title"><a href="#" class="title">Wedding Venues </a><span class="badge badge-primary">12+</span> </h2>
                    </div>
                    <!-- /.Supplier-total-info -->
                </div>
                <!-- /.Supplier-total-list -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><a href="#" class="btn btn-default btn-lg">View All Supplier</a></div>
        </div>
    </div>
</div>
<div class="section-space80">
    <!-- Real Weddings -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>Be inspired by Real Weddings</h1>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="real-wedding-block mb30">
                    <!-- real wedding block -->
                    <div class="real-wedding-img"><a href="#"><img src="images/real-wedding-1.jpg" alt="" class="img-responsive"></a></div>
                    <div class="real-wedding-info well-box text-center">
                        <h2 class="real-wedding-title"><a href="#" class="title">Caitlin &amp; Hentze</a></h2>
                        <p class="real-wed-meta"><span class="wed-day-meta"><i class="icon-wedding-day icon-size-18"></i> 5 june,2016</span> <span class="wed-location-meta"> <i class="icon-wedding-location icon-size-18"></i> Surat, India</span> </p>
                    </div>
                </div>
                <!-- /.real wedding block -->
            </div>
            <div class="col-md-4">
                <div class="real-wedding-block mb30">
                    <!-- real wedding block -->
                    <div class="real-wedding-img"><a href="#"><img src="images/real-wedding-2.jpg" alt="" class="img-responsive"></a></div>
                    <div class="real-wedding-info well-box text-center">
                        <h2 class="real-wedding-title"><a href="#" class="title">Lewers &amp; Isabella</a></h2>
                        <p class="real-wed-meta"><span class="wed-day-meta"><i class="icon-wedding-day icon-size-18"></i> 4 june,2016</span> <span class="wed-location-meta"> <i class="icon-wedding-location icon-size-18"></i> Surat, India</span> </p>
                    </div>
                </div>
                <!-- /.real wedding block -->
            </div>
            <div class="col-md-4">
                <div class="real-wedding-block mb30">
                    <!-- real wedding block -->
                    <div class="real-wedding-img"><a href="#"><img src="images/real-wedding-3.jpg" alt="" class="img-responsive"></a></div>
                    <div class="real-wedding-info well-box text-center">
                        <h2 class="real-wedding-title"><a href="#" class="title">Castleton &amp; Sean </a></h2>
                        <p class="real-wed-meta"><span class="wed-day-meta"><i class="icon-wedding-day icon-size-18"></i> 3 june,2016</span> <span class="wed-location-meta"> <i class="icon-wedding-location icon-size-18"></i> Surat, India</span> </p>
                    </div>
                </div>
                <!-- /.real wedding block -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><a href="#" class="btn btn-default btn-lg">View More Inspirations</a></div>
        </div>
    </div>
</div>
<!-- /.Real Weddings -->
<section class="module parallax parallax-2">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 parallax-caption">
                <h2>Are you trying our planning tools ?</h2>
                <p>
                    Donec sagittis blandit ex consequat pulvinm condimentum tortor lorem ipsum
                    oleo sit ament eitae suscipit augupibus.
                </p>
                <a href="#" class="btn btn-primary">Start Planning Today</a>
            </div>
        </div>
    </div>
</section>
<div class="section-space80 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>Most Reason to Why Choose us</h1>
                    <p>Donec sagittis blandit ex consequat pulvinm condimentum tortor eitae suscipit augupibus </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well-box feature-block text-center">
                    <div class="feature-icon"><i class="icon-heart-4 icon-size-60 icon-light"></i></div>
                    <div class="feature-info">
                        <h3>20 Years Experiance</h3>
                        <p>We are never short of suggestions or inspiring ideas.We will  support you and advise you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well-box feature-block text-center">
                    <div class="feature-icon"><i class="icon-newly-married-couple icon-size-60 icon-light"></i></div>
                    <div class="feature-info">
                        <h3>100 real weddings</h3>
                        <p>Every wedding is unique and has a special story. Share all the details of your special moments.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well-box feature-block text-center">
                    <div class="feature-icon"><i class="icon-curtains icon-size-60 icon-light"></i></div>
                    <div class="feature-info">
                        <h3>1500 + Perfect Weddingss</h3>
                        <p> Sed semper sapien commodo iaculis nec quis lacus malesuada, icula tortor. ut turpiliquepellentesque. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
