<div class="ldr">
    <div class="loader">
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
    </div>
    <link href="~/Content/css/loader/loadercss/reset.css" rel="stylesheet" />
    <link href="~/Content/css/loader/loadercss/style.css" rel="stylesheet" />
    <script src="~/Content/sharedjs/loader.js"></script>
</div>

